

<img src="assets/IMG_1745.jpg" style="transform: rotate(-90deg); max-width: 100%; height: auto;"/>





table{
    width: 100%;
    border-collapse: collapse;
    background-color: white;
                                                                                                 }

tr {
    border-bottom: 1px solid #444;
}

tr:last-child {
    border-bottom: none;
}

td {
    padding: 30px;
    vertical-align: top;
}

.afbeelding-cell{

    text-align: center;
}

.tekst-cell{
    vertical-align: middle;
}

nav{
    display: flex;
    justify-content: center;
    gap: 25px;

    padding: 10px 0;
}

nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
    flex-direction: row;
    display: flex;
}

nav li{}

nav a{
    color: black;
    text-decoration: none;
    padding: 14px 16px;
    font-size: 1.1em;
}

nav a:hover{
    color:darkgrey;
    text-decoration: underline;
}

.sectie{
    display: none;
    padding: 35px;
}

.sectie:target{
    display: block;
}

#home{
    display: block;
    text-align: center;
    padding: 95px 35px;
}

footer{
    display: block;
    text-align: center;
    padding: 2rem;
    background-color: lightblue;
    font-weight: bold;
}

.voettekst .rechts a{
    color: black;
    text-decoration: none;
}

.voettekst .rechts a:hover{
    color: darkgrey;
    text-decoration: underline;
}


.rechts{text-align: right;}




.role-box{
    border: 7px solid lightblue;
    border-radius: 10px;
    padding: 30px;
    margin: 20px 0;
    background-color: lightblue;

}

.flex-box{
    border: 7px solid lightblue;
    background-color: lightblue;
    border-radius: 10px;
    padding: 30px;
    margin: 20px 0;
}

.table-box{
    border: 7px solid white;
    background-color: white;
    border-radius: 10px;
    padding: 30px;
    margin: 20px 0;
}

.tekst-box{
    border: 7px solid lightblue;
    background-color: lightblue;
    border-radius: 10px;
    padding: 30px;
    margin: 20px 0;
}

.centered-image{
    display: flex;
    justify-content: center;
    align-items: center;
}

body{
    background-image: url('assets/achtergrondfoto.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

h3{color: dimgrey;
font-size: 24px}
h5{color: black}


h2{text-decoration: underline;
font-size: 25px}

h1{font-size: 50px}
.naam{color:lightblue;
font-size: 35px}


#home{
    padding-bottom: 600px;
}

#home{
    margin-top: 150px;
    text-align: center;
}

html{
    scroll-behavior: smooth;
}







