

<img src="assets/IMG_1745.jpg" style="transform: rotate(-90deg); max-width: 100%; height: auto;"/>





table{
    width: 100%;
    border-collapse: collapse;
    background-color: white;
                                                                                                 }

tr {
    border-bottom: 1px solid #444;
}

tr:last-child {
    border-bottom: none;
}

td {
    padding: 30px;
    vertical-align: top;
}

.afbeelding-cell{

    text-align: center;
}

.tekst-cell{
    vertical-align: middle;
}

nav{
    display: flex;
    justify-content: center;
    gap: 25px;
    background-color: lightblue;
    padding: 10px 0;
}

nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
    flex-direction: row;
    display: flex;
}

nav li{}

nav a{
    color: black;
    text-decoration: none;
    padding: 14px 16px;
    font-size: 1.1em;
}

.section{
    display: none;
    padding: 35px;
}

.section:target{
    display: block;
}

#home{
    display: block;
    text-align: center;
    padding: 95px 35px;
}

footer{
    display: block;
    text-align: center;
    padding: 2rem;
    background-color: lightblue;
    font-weight: bold;
}

.links{text-align: left}
.rechts{text-align: right}
.midden{text-align: center}


.role-box{
    border: 1px solid lightblue;
    border-radius: 10px;
    padding: 30px;
    margin: 20px 0;
    background-color: lightblue;
    box-shadow: dimgrey;
}

.flex-box{
    border: 7px solid lightblue;
    background-color: lightblue;
    border-radius: 10px;
    padding: 30px;
    margin: 20px 0;
}

.table-box{
    border: 7px solid lightblue;
    background-color: lightblue;
    border-radius: 10px;
    padding: 30px;
    margin: 20px 0;
}

.centered-image{
    display: flex;
    justify-content: center;
    align-items: center;
}

body{
    background-image: url('assets/achtergrondfoto.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}